<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Hacks Project</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="templates/style.css" />
</head>

<body>
    <!-- Add container with map and overlay -->
    <div class="container"></div>
    <div id="map"></div>
    <div id="overlay">
        <h2>Solar Energy Potential Map</h2>
        <p>This site helps to show areas of high and low potential for solar panel installation.</p>

        <!-- Add key -->
        <div id="key">
            <div class="labels">
                <div id="lowLabel">Low</div>
                <div id="highLabel">High</div>
            </div>
            <div class="keyDiagram"></div>
        </div>

        <form id='form' role='search'>
            <label for='map-search'>Find an address on the map: </label>
            <input type='search' id='map-search' name='mapSearch' aria-label="Find address on map and info on said address ">
            <button>Find Address</button>
            <button id="darkModeButton">Dark Mode</button>
        </form>
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="templates/map.js"></script>
</body>

</html>